<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mercado Liebre</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script src="https://kit.fontawesome.com/d446d22a8a.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo">
                    <img src="/images/logo-mercado-liebre.svg">
                </div>
                <form class="search-bar" action="#" method="GET">
                    <input type="search" placeholder="Buscar productos, compras y más...">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
                <p class="cuotas">Comprá en cuotas y sin tarjeta de crédito<i class="fa fa-hand-holding-usd"></i><p>               
            </div>
            <nav>
                <div class="nav-bar">
                    <ul>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayudar</a></li>
                    </ul>
                </div>
                <div class="login-bar">
                    <a href="/register">Creá tu cuenta<i class="fas fa-id-card"></i></a>
                    <a href="/login">Ingresá<i class="fa fa-right-to-bracket"></i></a>
                    <a href="#" class="carrito">Mis compras<i class="fa fa-basket-shopping"></i></a>
                </div>
            </nav>
        </header>
        <div class="carrousel">
            <img src="/images/img-home-banner.jpg">
        </div>
        <main>
            <section class="productos">
                <h4 class="titulo">Basado en tu última visita</h4>
                <article>
                    <div class="productos-foto">
                        <img src="/images/img-cafetera-moulinex.jpg">
                    </div> 
                    <i class="fas fa-truck"></i>
                    <div class="productos-descripcion">                  
                        <p class="precio">$6.789</p>
                        <p class="descuento">40% Off</p>
                        <p class="titulo-escondido">Cafetera Moulinex</p>
                    </div>
                </article>
                <article>
                    <div class="productos-foto">
                        <img src="/images/img-macbook-pro-2019.jpg">
                    </div> 
                    <i class="fas fa-truck"></i>
                    <div class="productos-descripcion">                  
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% Off</p>
                        <p class="titulo-escondido">MacBook Pro 2019</p>
                    </div>
                </article>
                <article>
                    <div class="productos-foto">
                        <img src="/images/img-samsung-galaxy-s10.jpg">
                    </div> 
                    <i class="fas fa-truck"></i>
                    <div class="productos-descripcion">                  
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% Off</p>
                        <p class="titulo-escondido">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article>
                    <div class="productos-foto">
                        <img src="/images/img-tv-samsung-smart.jpg">
                    </div> 
                    <i class="fas fa-truck"></i>
                    <div class="productos-descripcion">                  
                        <p class="precio">$23.200</p>
                        <p class="descuento">40% Off</p>
                        <p class="titulo-escondido">SmartTv Samsung 43</p>
                    </div>
                </article>
            </section>
            <section class="productos">
                <h4 class="titulo">Ofertas de último momento</h4>
                <article>
                    <div class="productos-foto">
                        <img src="/images/img-cafetera-moulinex.jpg">
                    </div> 
                    <i class="fas fa-truck"></i>
                    <div class="productos-descripcion">                  
                        <p class="precio">$6.789</p>
                        <p class="descuento">40% Off</p>
                        <p class="titulo-escondido">Cafetera Moulinex</p>
                    </div>
                </article>
                <article>
                    <div class="productos-foto">
                        <img src="/images/img-macbook-pro-2019.jpg">
                    </div> 
                    <i class="fas fa-truck"></i>
                    <div class="productos-descripcion">                  
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% Off</p>
                        <p class="titulo-escondido">MacBook Pro 2019</p>
                    </div>
                </article>
                <article>
                    <div class="productos-foto">
                        <img src="/images/img-samsung-galaxy-s10.jpg">
                    </div> 
                    <i class="fas fa-truck"></i>
                    <div class="productos-descripcion">                  
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% Off</p>
                        <p class="titulo-escondido">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article>
                    <div class="productos-foto">
                        <img src="/images/img-tv-samsung-smart.jpg">
                    </div> 
                    <i class="fas fa-truck"></i>
                    <div class="productos-descripcion">                  
                        <p class="precio">$23.200</p>
                        <p class="descuento">40% Off</p>
                        <p class="titulo-escondido">SmartTv Samsung 43</p>
                    </div>
                </article>
            </section>
        </main>
        <footer>
            <div>
                <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
            <div>
                <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </footer>
    </body>
</html>