<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mercado Liebre</title>
        <link rel="stylesheet" type="text/css" href="/css/forms.css">
    </head>
    <body>
        <div class="logo">
            <a href="/"><img src="/images/logo-mercado-liebre.svg"></a>
        </div>
        <main>
            <div class="login">
                <h1>Hola! Ingresá con tu email</h1>
                <form action="/login" method="POST">
                    <div class="datosUsuario">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="datosUsuario">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <input class="login-button" type="submit" value="Login">
                </form>
                <div class="rutaCrearCuenta">
                    <p>No tienes cuenta?<a href="/register"> Crear Cuenta</a></p>
                </div>
            </div>
        </main>
        <footer>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </footer>
    </body>
</html>