<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mercado Liebre</title>
        <link rel="stylesheet" type="text/css" href="/css/forms.css">
    </head>
    <body>
        <div class="logo">
            <img src="/images/logo-mercado-liebre.svg">
        </div>
        <main>
            <div class="login">
                <h1>Hola! Ingresá con tu email</h1>
                <form action="/login" method="POST">
                    <label for="email">e-mail:</label>
                    <input type="email" name="email" id="email">
                    <label for="password">password:</label>
                    <input type="password" name="password" id="password">
                    <input class="login-button" type="submit" value="Login">
                </form>
            </div>
        </main>
        <footer>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </footer>
    </body>
</html>