* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    width: 100vw;
    height: 200px;
    background-color: #f3d850;
}
.logo img {
    width: 20%;
    height: 100%;
}
main {
    height: 70vh;
}
.login {
    width: 450px;
    max-height: 800px;
    background-color: white;
    border-radius: 5%;
    text-align: center;
    position: relative;
    bottom: 70px;
    display: flex;
    flex-direction: column;
}
.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    height: 60%;
}
label {
    color: #333;
    align-self: flex-start;
    margin-left: 15%;
}
.datosUsuario {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.datosUsuario input:focus {
    outline: solid 2px #5f91f6;
    border-radius: 15px;
}
form label {
    margin: 0;
    align-self: flex-start;
}
input {
    width: 300px;
    height: 35px;
    border: none;
    outline: none;
    border-bottom: solid 1px rgb(170, 160, 160);
}
.login-button {
    background-color: #0022AA;
    color: white;
    width: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5%;
    font-size: 18px;
    font-weight: 300;
    border-radius: 10px;
}
.login-button:hover {
    background-color: #5f91f6;
}
.login h1 {
    margin: 5%;
    color: #333;
}
.radios {
    width: 40%;
    height: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.radios input {
    width: 50%;
    height: 15px;
}
.radios label {
    width: 50%;
    margin: 5px 0;
}
.checkboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.checkboxes h4 {
    width: 100%;
}
.checkboxes label {
    width: 30%;
    text-align: left;
    margin-left: 11%;
}
.checkboxes input {
    width: 20%;
    height: 15px;
}
.fotoPerfil-BorrarDatos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}
.fotoPerfil-BorrarDatos label {
    width: 50%;
    margin: 0;
    color: #333;
    font-weight: bold;
}
.fotoPerfil {
    width: 50%;
    border: solid 1px #333;
}
.borrar-datos {
    border: solid 1px #0022AA;
    outline: none;
    background-color: #333;
    color: white;
    width: 10%;
    height: 15%;
    margin: auto;
    border-radius: 50%;
}
.borrar-datos:hover {
    background-color: #5f91f6;
}
.rutaCrearCuenta {
    margin-bottom: 5%;
}
.rutaCrearCuenta a {
    text-decoration: none;
    color: #5f91f6;
}
footer {
    background-color: white;
    text-align: center;
    width: 100%;
    height: 10vh;
    margin-top: 10vh;
}
footer p {
    margin-top: 2%;
}
@media(max-width: 767px){
    .logo img{
        width: 50%;
        height: 80%;
    }
    main {
        width: 100vw;
    }
    .login {
        width: 100vw;
        border-radius: 0%;
    }
    .login {
        max-height: 860px;
    }
    footer {
        margin-top: 30%;
    }
}
@media(min-width: 478px){

}